html{
  height: 100%;
  background-color: rgb(219, 219, 219);
}

header{
  height: 150px;
  width: auto;
  position: relative;
  margin: 5px;
  

  background-color: lightslategrey;


  .header__container{
    display: grid;
    position: absolute;
    left: 5%;
    top: 30%;
    .header__title{
      margin: 0;
    }
    p{
      margin: 0;
    }
  }

}

main{
  width: auto;
  margin: 5px;

  .formContainer{
    display: grid;
    place-content: center;

    input{
      width: fit-content
    }
  }

  .responseContainer{
    h2{
      display: inline;
    }
    p{
      font-size: x-large;
      display: inline;
    }
    
  }
}